*{
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  header.navbar-container {
    width: 100%;
    height: 60px;
    background-color: #F1F3FF;
  }
  
  header.navbar-container .logo img {
    width: 100%;
  }

  .offcanvas-body ul button {
    width: 81px;
    padding: 0.5rem;
    border-radius: 0.1rem;
    border: none;
    background-color: #5cb85f;
    color: #ffffff;
    font-size: 1.05rem;
    font-weight: 1500;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    justify-content: center;
  }

  .offcanvas-body ul button:hover {
    background-color: transparent;
    color: #5cb85f;
  }

  .navbar .container-fluid .offcanvas {
    max-width: 50%;
  }

  .navbar .container-fluid  .navbar-toggler {
    border: none;
    cursor: pointer;
  }


  main {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  main .profile {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #F1F3FF;
    position: relative;
  }

  main .profile .profile-description {
    flex: 1 1;
    padding: 50px 50px 50px 120px;
  }

  main .profile .profile-description .title {
    margin-block: 1rem;
    font-size: 2rem;
  }

  main .profile .profile-description .title p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }

  main .profile .profile-description button {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #5cb85f;
    color: #ffffff;
    font-size: 1.01rem;
    font-weight: 1500;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    justify-content: center;
  }

  main .profile .profile-description button:hover {
    background-color: transparent;
    color: #5cb85f;
  }

  main .profile .profile-image {
    flex: 1;
    display: flex;

  }

  main .profile .profile-image .bg-car {
    position: absolute;
    height: 60%;
    bottom: 0;
    right: 0;
    width: 43%;
    z-index: 0;
    background: rgba(13, 40, 166, 1);
    border-top-left-radius: 60px;
  }
  
  main .profile .profile-image img {
    width: 500px;
    position: relative;
    z-index: 2;
  }

  article.services {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 50px 90px 20px;
  }

  article.services .services-description {
    flex: 1 1;
    padding: 10px 70px 10px 10px;
  }

  .services-description ul {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
  }

  .services-description ul li {
    display: flex;
    flex-direction: columns;
    gap: 1rem;
    margin: 1rem;
    margin-left: 0;
  }

  article.services .services-description .title {
    margin-block: 1rem;
    font-size: 24px;
  }

  article.services .services-description p {
    font-size: 14px;
  }

  article.services .services-image {
    flex: 1;
    display: flex;
    order: -1;
  }

  article.services .services-image img {
    margin: auto;
    width: 350px;
    min-width: 355px;
  }

  main .why-us {
    align-items: center;
    padding: 20px 60px;
    margin: 10px;
  }

  main .why-us .card {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
    border-style: none;
  }

  .why-us .wu-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .why-us .wu-description h2 {
    font-size: 24px;
  }

  .why-us .wu-description p {
    font-size: 14px;
  }

  main .why-us .card .card-1, .card-2, .card-3, .card-4 {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    width: 550px;
    height: 250px;
  }

  .wu-img {
    width: 40px;
    height: 60px;
  }

  .wu-desc h3 {
    font-weight: bold;
    font-size: 18px;
  }

  .wu-desc p {
    font-size: 16px;
  }

  .testimonial {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.testi-card {
  padding: 2rem;
  border-radius: 7px;
  background-color: #F1F3FF;
}

.card-body {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.testi-rating {
text-align: left;
padding-bottom: 10px;
}

.testi-poto {
object-fit: cover;
}

.testi-text {
  font-size: 12px;
  text-align: left;
}

.testi-info {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}

.swiper-nav {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1rem;
  padding: 30px;
}

.swiper-icon {
  width: 20px;
  height: 20px;
}

.swiper-nav .swiper-button-prev,
.swiper-nav .swiper-button-next {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  position: relative;
  background-color: white;
  border: 1.5px solid #c4c4c4;
  border-radius: 50%;
}

.swiper-nav .swiper-button-prev:hover,
.swiper-nav .swiper-button-next:hover {
  background-color: #5cb85f;
}

.swiper-nav
  .swiper-button-prev:hover
  > .swiper-icon
  path,
.swiper-nav
  .swiper-button-next:hover
  > .swiper-icon
  path {
  stroke: rgb(255, 255, 255);
}

.swiper-nav .swiper-button-prev::after,
.swiper-nav .swiper-button-next::after {
  display: none;
}

   main section.sewa {
    align-items: center;
    margin: 10px 80px;
    padding: 70px;
    background-color: #0D28A6;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
  }

  main section.sewa h1 {
    font-size: 36px;
  }

  main section.sewa p {
    padding: 30px 230px 60px;
    font-size: 14px;
  }

  main section.sewa button {
    padding: 0.5rem 1rem;
    border-radius: 2px;
    border: none;
    background-color: #5cb85f;
    color: #ffffff;
    font-size: 1.01rem;
    font-weight: 1500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    justify-content: center;
  }

  .sewa button:hover {
    background-color: transparent;
    color: #5cb85f;
    background-color: #ffffff;
  }

  .faq {
    margin: 0 20px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }

  .faq .header-faq {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .faq .header-faq h2 {
    font-size: 24px;
  }

  .faq .header-faq p {
    font-size: 14px;
  }

  .faq .accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 150px;
  }

  footer {
    display: flex;
    font-size: 14px;
  }

  footer .footer {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 2rem 5rem;
  }

  footer .footer .address {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
  }

  footer .footer .navlist-footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
  }

  footer .footer .navlist-footer ul {
    padding-left: 0;
  }
  
  footer .footer .navlist-footer ul li {
    list-style: none;
    padding-bottom: 15px;
  }
  
 footer .footer .social-media {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
 }

 footer .footer .cr {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
 }


@media screen and (max-width: 992px) {
  main .profile .profile-description {
  padding: 0px 50px 50px 30px;
  }
  
  main .profile .profile-image img {
    max-width: 704px;
  }

  main .profile .profile-image .bg-car {
    height: 30%;
    width: 97%;
  }

  main section.sewa p {
    padding: 10px;
  }
  
  .faq .header-faq {
    justify-content: center;
    align-items: center;
    }

    .faq .accordion {
      padding-left: 0;
    }

  .profile, .services, main .why-us .card, .faq {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 768px) {

  main .profile .profile-image .bg-car {
    height: 30%;
    width: 83%;
  }

  article.services {
    padding: 20px;
    margin-top: 50px;
  }
  
  article.services .services-description {
    flex: 1 1;
    padding: 10px;
  }

  article.services .services-description ul {
    margin: 0;
    padding: 0;
  }

  article.services .services-image img {
    width: 300px;
    min-width: 300px;
  }

  .why-us .wu-description {
    justify-content: center;
    align-items: center;
  }

  main .why-us .card .card-1, .card-2, .card-3, .card-4 {
    width: 328px;
  }

  main section.sewa {
    margin: 20px;
  }

  .acrdn-str .acrdn-ktn {
    width: 328px;
    padding: 25px;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid;
    }

  footer .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 2px 5px;
    margin: 10px;
  }

  footer .footer .navlist-footer ul {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 576px) {
  main .profile .profile-image img {
    max-width: 344px;
  }

  main .profile .profile-image .bg-car {
    height: 25%;
    width: 89%;
  }

  .card-body {
    flex-direction: column;
  }

  .testi-rating {
    text-align: center;
    }
}
